# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
obj/
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.manifest
*.spec

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Logs and databases
*.log
*.sqlite3

# dotenv environment variables
*.env

# AWS credentials and config
.aws/

# Docker
*.dockerignore
**/Dockerfile
docker-compose.yml

# Pytest
.cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~.nib
*~.tmp
*.tmproj
*.project
*.pydevproject

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
*~

# Editor backups and swap files
*.bak
*.swp
*.swo
*.orig

# Ignore virtual environment
.venv/
venv/
